.buttonFB{
    background-color:  #4560A6;
    border: 1px solid #5067B3;
    border-radius: 17px;
    opacity: 1;
    height: 2.5em;
    color: #FFFFFF;
}
.buttonSignIn:focus{
    background: #84B6A3 0% 0% no-repeat padding-box;
    opacity: 1;
    border: #84B6A3;
    color: #FFFFFF;
    height: 34px;
}
.buttonSignIn{
    background: #84B6A3 0% 0% no-repeat padding-box;
    opacity: 0.28;
    border: #84B6A3;
    color: #FFFFFF;
    height: 34px;
}
.buttonSignUp{
    background: #84B6A3 0% 0% no-repeat padding-box;
    opacity: 0.28;
    color: #FFFFFF;
    height: 34px;

}
.buttonSignUp:focus{
    background: #84B6A3 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #FFFFFF;
    height: 34px;

}
.inputForm{
    border: none;
    border-bottom: 2px solid #84B6A3;
    margin-right: auto;
}
.buttonSubmit{
    background: #84B6A3 0% 0% no-repeat padding-box;
    border: 1px solid #8DBFAC;
    border-radius: 17px;
    opacity: 1;
    color: #FFFFFF;
    height: 34px;

}
.buttonCancel{
    border: 1px solid #8DBFAC;
    border-radius: 17px;
    opacity: 1;
    height: 34px;
    background-color: #FFFFFF;
    color: #84B6A3;
}
.inputText{
    text-align: left;
    font: normal normal medium Montserrat;
    letter-spacing: 0px;
    color: #BABABA;
    opacity: 1;
    font-size: 0.50em;
}
.textH1Input{
    font-size: 1rem;
    color: #84B6A3;
}