.formBorder{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.inputForm{
    border: none;
    border-bottom: 2px solid #84B6A3;
    margin-right: auto;
}

.TextAria{
    color:  #8DBFAC;
}
.formButton{
    width: 148px;
    height: 34px;
    background: #84B6A3 0% 0% no-repeat padding-box;
    border: 1px solid #8DBFAC;
    border-radius: 17px;
    opacity: 1;
    color: #FFFFFF;
}